body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#loginForm {
    margin-top: 20px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

label {
    white-space: nowrap;
    margin-bottom: 4px;
    color: #555;
}

.rememberpsw{
    display: flex;
    font-size: 13px;
}
.rememberpsw input[type="checkbox"] {
    margin-right: 150%; /* Set a percentage margin for responsiveness */
}
.divcontphone{
    gap: 10px;
    display: flex;
}

.divphone label{
    margin-right: 70%;
}

.divpsw label{
    margin-right: 70%;
}

i{
    color: #45a049;
    font-size: 16px;
}

.divpsw, .divphone, .divcountry{
    display: grid;
}
.divpsw{
    max-width: 290px;
}
.divphone{
    width: 290px;
}